.EmergencyService {
  color: rgba(0, 103, 71, 1);
}
.heart_num {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 900;
}
.heart {
  background: rgba(65, 255, 107, 0.1);
}
.coin_num {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 900;
}
.coin {
  background: rgba(65, 255, 107, 0.1);
}
.copy_num,
.copy-txt{
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
}
.copy{
    background: rgba(0, 166, 62, 1);
}
.nav{
    box-shadow: 0px 1px 50px 0px rgba(181, 181, 181, 0.25);
    background: var(--White, rgba(255, 255, 255, 1));
}
.banner{
    background: linear-gradient(90.00deg, rgba(1.251827359199524, 49.64006805419922, 34.606834411621094, 1),rgba(0, 103, 71, 1) 50%,rgba(1, 50, 35, 1) 100%);
}
.banner-h1{
    color: rgba(255, 255, 255, 1);
    font-family: Hind Madurai;
    font-weight: 700;
}
.banner-p{
    color: rgba(255, 255, 255, 1);
    font-family: Hind Madurai;
    font-weight: 600;
}
.cart-1{
  border-radius: 12px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  background: var(--White, rgba(255, 255, 255, 1));
}
.emergency-img{
  border-radius: 16px;
  background: rgba(255, 227, 226, 1);
}
.national-emergency-number{
  color: var(--Dark, rgba(17, 17, 17, 1));
  font-family: Li Ador Noirrit;
  /* font-size: 24px;
  font-weight: 700; */
}
.national-emergency{
  color: var(--Gray, rgba(92, 92, 92, 1));
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}
.number{
  color: var(--Dark, rgba(17, 17, 17, 1));
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
}
.all-div{
  border-radius: 9999px;
  background: var(--Gray-Light, rgba(242, 242, 242, 1));
}
.copy-btn{
  box-sizing: border-box;
  border: 1px solid var(--Stroke, rgba(212, 214, 213, 1));
  border-radius: 8px;
  background: var(--White, rgba(255, 255, 255, 1));
}
.call-btn{
  border-radius: 8px;
  background: rgba(0, 166, 62, 1);
}
.cp_p{
  color: var(--Gray, rgba(92, 92, 92, 1));
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}
body{
  background: rgba(245, 255, 246, 1);
}
.main-sec-2{
  border-radius: 12px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  background: var(--White, rgba(255, 255, 255, 1));
}
.call-history-h3{
  color: var(--Dark, rgba(17, 17, 17, 1));
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
}
.clr-btn{
  border-radius: 50px;
  background: rgba(0, 166, 62, 1);
}
.clear{
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
}
